{%  extends "base.html" %}
{% block title %}404 ERROR: Not Found{% endblock %}

{% block content %}
<div>
  <h1><a href="http://en.wikipedia.org/wiki/404_error">404 ERROR</a>: File Not Found</h1>
  
  <p>The requested <a href="http://en.wikipedia.org/wiki/Uniform_resource_locator">URL</a> was not found on this server.</p>
  
  <p>Maybe you would like to look at:</p>
  <ul>
    <li><a href="/">The main page</a></li>
  </ul>
  
  <p>If you have any problems, please <a href="mailto:SAXSWAXS@synchrotron.org.au">Contact SAXS Team</a>.</p>
  
</div>
{% endblock %}