{%  extends "base.html" %}
{% block title %}500 Error: Internal Server Error{% endblock %}

{% block content %}
<div>
  <h1><a href="http://en.wikipedia.org/wiki/500_error#5xx_Server_Error">500 ERROR</a>: Internal Server Error</h1>
  
  <p>The requested <a href="http://en.wikipedia.org/wiki/Uniform_resource_locator">URL</a> triggered an internal server error.</p>
  
  <p>Maybe you would like to look at:</p>
  <ul>
    <li><a href="/">The main page</a></li>
  </ul>
  
  <p>If you have any problems, please <a href="mailto:SAXSWAXS@synchrotron.org.au">Contact SAXS Team</a>.</p>
  
</div>
{% endblock %}